* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*a{
text-decoration:none;
display: inline-block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol, ul {
	list-style: none;
}*/
body{
	font-size:14px;
	line-height:  ;
	color:#000;
	font-family: 'PT Sans', 'Tahoma', sans-serif; 
	background: ;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

.container{
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after{
	content:" ";
	display:table;
	clear:both;
}
/*.main-header{
	background: #fff;
}
.main-navigation{
	position: relative;
	float: left;
}
.main-navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.main-navigation li{
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 26px;
}
.main-navigation a{
	display: block;
	padding: 12px 72px;
	text-decoration: none;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
}
.logo{
	position: absolute;
	top: -26%;
	right: 37%;
}
.main-navigation li:nth-child(2){
	margin-right: 240px;
}*/
.main-navigation{
	float: left;
	width:100%;
}

ul {
	padding: 0;
	text-align: center;
}

li{
	display: inline-block;
	vertical-align: top;
	width: 20%;
}

.logo{
	width: 8%;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.main-bg{
	background: url("../img/main-bg.jpg") no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 77px;
	padding-bottom: 90px;
	height: 490px;
	overflow: hidden;
}

.main-bg:after {
	content: '';
	display: block;
	width: 100%;
	height: 57px;
	background: url(../img/cover.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.wrap-title{
	padding-bottom: 37px;
	padding-top: 47px;
}

.title-black{
	font-family: 'PT Sans', 'Tahoma', sans-serif; ;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	margin:0 auto;
	text-align:center;	
	
}
.item-text{
	font-family: 'PT Sans', 'Tahoma', sans-serif; ;
	font-size: 14px;
	font-weight: normal;
	line-height: 26px;
	text-align:center;
	margin-top: 27px;	
}
.wrap-title-img{
	margin: 0 auto;
	width: 458px;
}
.column4{
	float: left;
	width: 33.3333333%;

}
.column8{
	float: left;
	width: 66.6666666%;
}
.title-bg{
	height: 256px;
	overflow: hidden;
	position: relative;
}

.title-bg img {
	position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  
  height: auto;
  width: 100%;
}

.title{
	background: #81b3d2;
	padding-top: 45px;
	padding-bottom: 51px;
}
.title-white{
	font-family: 'PT Sans', 'Tahoma', sans-serif; ;
	font-size: 21px;
	color: #fff;
	text-align:center;
	margin: 0 auto;
	font-weight: bold;
	line-height: 28px;
}
.number{
	color: #fff;
	text-align:center;
	padding-top: 18px;
	padding-bottom: 23px;
	margin: 0 auto;
	line-height: 21px;
	font-family: 'PT Sans', 'Tahoma', sans-serif; 
	font-size: 14px;
}
.number::after{
	content: "-";
	color: #fff;
	width: 10px;
	height: 1px;
}
.number::before{
	content: "-";
	color: #fff;
	width: 10px;
	height: 1px;
}
.item-text-white1{
	margin: 0 auto;
	text-align: center;
	color: #fff;
	line-height: 21px;
	font-size: 14px;
	font-family: 'PT Sans', 'Tahoma', sans-serif; 
}
.item-text-white2{
	margin: 0 auto;
	text-align: center;
	color: #fff;
	line-height: 21px;
	font-size: 14px;
	font-family: 'PT Sans', 'Tahoma', sans-serif; 
}
.content-wrap{

}

.sprite-accomodation:before,
.sprite-food:before,
.sprite-souvenir:before {
	content: '';
	width: 76px;
	height: 76px;
	display: block;
	margin: 0 auto;
	background: transparent url("../img/sprite.png") ;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 0px -76px;
}
.sprite-accomodation::before{
	background-position: 0px -76px;
}
.sprite-food::before{
	background-position: -76px -152px;
}
.sprite-souvenir::before{
	background-position: -152px -228px;
}

/*.content-item{
	display: inline-block;
	vertical-align: top;
	}*/

/*.accomodation{
	background: url("../img/sprite.png");
	width: 72px;
	height: 76px;
	background-position: 0 0;
}*/
.accomodation .item-text{
	margin: 0 auto;
}
.food .item-text{
	margin: 0 auto;
}
.souvenir .item-text{
	margin: 0 auto;
	
}
.content-wrap-bg{
	background: #eee;
	width:1200px;
}
.content-wrap-bg .content-item{
	display: inline-block;
	vertical-align: top;
	
} 
.number-black{
	color: #000;
	text-align:center;
	padding-top: 18px;
	padding-bottom: 23px;
	margin: 0 auto;
	width: 55px;
	line-height: 21px;
	font-family: 'PT Sans', 'Tahoma', sans-serif; ;
	font-size: 14px;
}
.number-black::after{
	content: "-";
	color: #000;
	width: 10px;
	height: 1px;
}
.number-black::before{
	content: "-";
	color: #000;
	width: 10px;
	height: 1px;
}
.content-wrap-bg .content-item{
	padding-top: 50px;
	padding-bottom: 64px; 
}
.content-wrap-bg .title-black{
	text-align: center;
}
.content-wrap-bg .item-text{
	margin: 0 auto;
	text-align: center;
}
.title-interesting{
 	padding-bottom: 130px;
 	padding-top: 50px;
}
.title-interesting .item-text{
	margin: 0 auto;
	vertical-align: top;
}
.title-text{
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 24px;
	text-align: center;
	padding-bottom: 20px;
}
.map{
	
}
.form{
	width: 575px;
	background: #fff;
}
.title-form{
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 21px;
	font-weight: bold;
	color: #fff;
	background: #766357;
	text-align:center;
	padding: 25px 0;
	margin-bottom: 58px;
}
.form label{
	text-transform: uppercase;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	color: #000;
	margin-left: 60px;
}
.form input{
	border: 1px solid #f2f2f2;
	padding: ;
	color: #000;
  	background: #f2f2f2;
  	outline: none;
}
.form-row input[type="text"]{
	text-transform: uppercase;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;	
	padding-left: 15px;
	width: 345px;
}
.form-row input[type="number"]{
	text-transform: uppercase;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;	
	width: 115px;
	text-align: center;
}
.form-row input[type="number"]::before{
	content: '-';
	width: 10px;
	height: 3px;
	color: #000;
}
.form-row input[type="number"]::after{
	content: '+';
	width: 10px;
	height: 3px;
	color: #000;
	}
.form button{
	display: block;
	 margin: 0 auto;
 	 width: 455px;
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 0;
  font-size: 21px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: bold;
  line-height: ;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
color: #fff;
  background: #81b3d2;
  border: none;
  outline: none;
  cursor: pointer;
}
.form-row{
	margin-bottom: 27px;
}
.main-footer{
	 padding-top: 35px;
  	padding-bottom: 30px;
}
.footer-contacts{
	float: left;
	width: 400px;
}
.footer-text{
	color: #000;
	font-family: "PT Sans Narrow", sans-serif;
  	font-weight: bold;
  	font-size: 21px;
  	line-height: 26px;
  	text-align: center;
}
.footer-social{
	float: left;
}
.footer-copyright {
  float: right;
 }
 .social-btn {
 margin: 0 2px;
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;

  font-size: 0;
  text-decoration: none;

  background: #81b3d2 url("../img/spr.png") no-repeat center;
}
.social-btn-tw {
  background-position: 0 0;
}

.social-btn-fb {
  background-position: 0 40px;
}

.social-btn-video {
  background-position: 0 80px;
}

	/*hotels*/

.main-baground{
	background: url("../img/filter-background.jpg");
	width: 1200px;
	
}
.container-content{
	width: 1055px;
	margin: 0 auto;
}
.select-booking{
	padding-top: 20px;
	padding-bottom: 30px;
}
.first-select-booking{
	float:left;
	width: 240px;
}
.second-select-booking{
	float: left;
	width: 287px;
	padding-left: 10px;
}
.slider{
	float: right;
	width: 327px;
}

.title-hotel{
	color: #fff;
	font-family: "PT Sans Narrow", sans-serif;
  	font-weight: bold;
  	font-size: 16px;
  	line-height: 21px;
  	text-align: left;
}
.row{
	padding-top: 20px;
}
.row label{

	color: #fff;
	font-family: "PT Sans Narrow", sans-serif;
  	font-size: 14px;
  	line-height: 21px;
  	text-align: left;
}
.filters{
	display: inline-block;
  	vertical-align: top;
  	font-size: 0;
}
.search{
	display: inline-block;
  	vertical-align: bottom;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	font-family: inherit;
	color: #000;
}
.item-search{
	display: inline-block;
  	vertical-align: bottom;
	font-size: 12px;
	line-height: 18px;
	font-family: inherit;
	color: #000;
}



/*div[class*="sprite-"]*/

